body {
	box-sizing: border-box;
}

.profileOuterContainer {
	position: absolute;
	left: 20%;
	top: 10%;
	width: 65vw;
	height: 85vh;
	color: white;
	background-color: white;
	border-radius: 25px;
	background-color: white;
	background: rgba(255, 255, 255, 0.5);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.profileContainer {
	width: 45%;
	height: 85%;
	float: left;
}

.badgesOuterContainer {
	position: absolute;
	right: 20%;
	top: 10%;
	width: 40vw;
	height: 80vh;
	background-color: white;
}

.badgesContainer {
	width: 40%;
	height: 80%;
	float: right;
	margin-right: 5%;
	margin-top: 4%;
	background-color: white;
	padding: 15px;
	margin-left: -10px;
}

.dividerStyle {
	margin-top: 10px;
}

#badgeBlock {
	background-color: #bfeeff;
	height: 90%;
	width: 90%;
	border: 0.5em solid grey;
	padding: 2em;
}

#badgeCollection {
	display: flex;
	flex-flow: row wrap;
}

#controls_Panel {
	display: flex;
	margin-left: 20%;
}

#left-controls {
	display: flex;
	flex-direction: column;
}

#left-controls > * {
	margin: 0.25em;
}
#right-controls {
	display: flex;
	margin: 0.25em;
}
