body{
	box-sizing: border-box;
}

.outerSearchContainer{
	width: 100vw;
	height: 100vh;
	color: #66DAC7;
	background-color: #66DAC7;
}

#searchContainer{
	background-color: red;
	color: red;
}

#test {
	color: black;
	background-color: black;
	width: 400px;
	height: 500px;

}

.App{
  color: black;
  padding: 1em;
}
.NavBar{
	display:flex;
	width: 100%;
	justify-content: space-between;
	height:10%;
}

#Settings{
	display:flex;
	flex-flow: row wrap;
}
#badgeDefault{
	display:flex;
	width: 50%;
	flex-direction:column;
}
#profileTheme{
	width: 50%;
}

#userInput{
	width: 100%;
}
