body{
	box-sizing: border-box;
}

.outerSearchContainer{
	width: 100vw;
	height: 100vh;
	color: #66DAC7;
	background-color: #66DAC7;

}

.searchContainer{
	position: absolute;
	left: 20%;
	top: 10%;
	width: 65vw;
	height: 80vh;
	color: white;
	background-color: white;
	border-radius: 25px;
}

.listContainer{
	position: absolute;
	left: 5%;
	top: 20%;
	width: 90%;
}

#test {
	color: black;
	background-color: black;
	width: 400px;
	height: 500px;

}

.App{
  color: black;
  padding: 1em;
}
.NavBar{
	display:flex;
	width: 100%;
	justify-content: space-between;
	height:10%;
}

#Settings{
	display:flex;
	flex-flow: row wrap;
}
#badgeDefault{
	display:flex;
	width: 50%;
	flex-direction:column;
}
#profileTheme{
	width: 50%;
}

#userInput{
	width: 100%;
}
